* {
  background-color: aquamarine;
}

.h1 {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  text-shadow: 3px 0px 7px red, -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}

.p1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 3px 0px 7px red, -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
  padding-bottom: 15px;
}

#formModalTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 0px 7px red, -3px 0px 7px rgba(81,67,21,0.8), 0px 4px 7px rgba(81,67,21,0.8);
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
